body {
    margin: 0;
    padding: 0;
    background-color: #fffbe6;
    font-family:'Times New Roman', Times, serif;
}
.navbar {
    background-color:#a86201; 
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px 40px;
}
.left-section {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo {
    height: 60px;
    border-radius: 5px;
}
.brand-name {
    color: white;
    margin: 0;
    font-size: 30px;
    font-weight:dark;
}
.center-links {
    display:flex;
    gap: 50px;
    margin: 0;     
    padding: 0;
}
.center-links a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    transition: 0.3s;
}
.center-links a:hover {
    color: darkorange;
}
.right-links {
    display: flex;
    gap: 25px;
}
.right-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 800;
}
.right-links a:hover {
    color: darkorange;
}


.container {
    display: flex;
    height: calc(100vh - 100px);
}


.left-box {
    flex: 1;
    background-image: url("https://pngadgilandsons.com/wp-content/uploads/2025/07/Collection-Banner.jpg");
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon {
    width: 250px;
    height: 250px;
    background: white;
    clip-path: polygon(
        25% 5%, 75% 5%, 100% 50%, 
        75% 95%, 25% 95%, 0% 50%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #c5c20c;
    font-size: 22px;
}


.right-box {
    flex: 1;
    padding: 60px;
    
}

.title {
    font-size: 32px;
    color:#fa970d;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
}


.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.form input {
    margin-top: 5px;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.form input:focus {
    border-color: #b8860b;
}
.btn {
    margin-top: 20px;
    padding: 12px;
     background-color:#31443b;
    box-shadow: 2px 2px 2px rgb(23, 78, 23);
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
     background-color: #192d1d;
}







footer {
    background-color: #a86201;
    color: white;
    padding: 40px 50px 20px 50px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer-container div {
    flex: 220px;
}

.footer-about h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.footer-links a,
.footer-social a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 6px;
    transition: 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
    color: darkorange;
}

.footer-contact a {
    color: white;
    text-decoration: none;
}

.footer-contact a:hover {
    color:darkorange;
}

.social-icon {
    height: 22px;
    width: 22px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 4px;
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    border-top: 1px solid #ffffff80;
    padding-top: 10px;
    font-size: 14px;
}

@media (max-width: 1100px) {

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 20px;
        text-align: center;
    }

    .left-section,
    .center-links,
    .right-links {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .center-links {
        gap: 25px;
    }

    .right-links {
        gap: 20px;
    }
}

@media (max-width: 900px) {

    .brand-logo {
        width: 70px;
        height: 70px;
    }

    .brand-text {
        font-size: 24px;
    }

    .center-links a,
    .right-links a {
        font-size: 18px;
    }

    footer {
        text-align: center;
    }
}

@media (max-width: 600px) {

    .brand-logo {
        width: 60px;
        height: 60px;
    }

    .brand-text {
        font-size: 22px;
    }

    .center-links a,
    .right-links a {
        font-size: 18px;
    }

}

@media (max-width: 600px) {
    footer {
        padding: 25px 15px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-container div {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .footer-links a,
    .footer-social a {
        font-size: 14px;
        margin: 4px 0;
    }

    .footer-bottom {
        font-size: 12px;
    }
}